body {
  background-image: url("../img/map.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size:cover;
 }

 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}


.parent {
  background-image: url("../img/journal.png");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size:cover;
  margin: auto;
  padding: 50px;
  height: 200%;
  width: 50%;
}


.titletext{
  text-align: center;
  font-size: 50px;
}

.menutext{
  text-align: center;
  font-size: 50px;
}

.image2 {
  height: auto;
  width: 50%;
  display:block;
  margin:auto;
}